#buttons {
    padding-top: 120px;
    width: 50vw;
    height: 100vh;
    h1 {
        margin-bottom: 5px;
    }
    button {
        border: none;
        padding: 10px 14px;
        border-radius: 8px;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover{
            opacity: 0.8;
        }
    }

    .btn-primary {
        background-color: #0D6EFD;
        color: #fff;
    }

    .btn-secondary {
        background-color: #6C757D;

    }

    .btn-danger {
        background-color: crimson;
    }

    .btn-warning {
        background-color: #FFC107;
        color: #000;
    }

    .btn-info {
        background-color: #0DCAF0;
        color: #000;
    }
}




#soon {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    p{
        font-size: 40px;
        color: #0D6EFD;
        font-weight: 600;
    }
    small {
        font-weight: 500;
        font-size: 25px;
        color: rgb(206, 204, 204);
    }
}