.rightbar {
    position: fixed;
    right: 10%;
    top: 90px;
    font-family: sans-serif;

    h1 {
        font-weight: 600;
        font-size: 18px;
        color: #404040d4;
        padding: 5px 0px;
        border-bottom: 1px solid #1e1e1e9c;
    }

    ul{
        li {
            margin-top: 10px;
            padding: 0px 10px;
            border-left: 2px solid #fff;
            transition: all 0.2s ease;
            &:hover{
                border-left: 2px solid #7432FA;
            }

            &:hover > a {
                color: #7432FA;
            }

            a {
                color: #1e1e1ecc;
                font-size: 14px;
                transition: all 0.2s ease;
            }

        }
    }
}